spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
numpy==1.18.4
Flask==1.1.2
matplotlib==3.2.1
gunicorn==19.9.0